/client/node_modules
/server/node_modules

/node_modules

/client/yarn.lock
/server/yarn.lock

/client/yarn-error.log
/server/yarn-error.log

yarn-error.log
yarn.lock

/client/.env
/server/.env

.env
